.skyline {
    margin: auto;
    max-width: 100%;
}
body {
    background-color: white;
    margin: 0 auto 0 auto;
    text-align: center;
    font-family: 'Merrwiweather', serif;


}
/* Navigation Bar */
.navbar {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
  }
  
  .navbar-item a:hover {
    color: #ccc;
  }
  

.top-container {
    padding-top: 100px;
    background-color: lightcyan;
    position: relative;
}

p {
    font-family: 'Merriweather';
}

h1 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 5.625rem;
    font-family: 'Sacramento', sans-serif;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h2 a{
    text-decoration: none;
}

h3 {
    font-family: 'Montserat', sans-serif;
    color: #11999E;
    
}
h3 a{
    text-decoration: none;
}

a {
    color: #11999E;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 1000px;



}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #EAF6F6;


}

.footer-link {
    padding-right: 10px;
    margin: 0 auto 0 auto;
    font-size: 1.25rem;
    text-decoration: none;
}

.bottom-cloud {
    position: absolute;
    left: 1000px;
    bottom: 400px;
}

.pro {
    text-decoration: underline solid;
}

.profile img {
    min-width: 250px;
    max-height: 250px;
}

.subtitle {
    font-weight: normal;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-row p {
    line-height: 2;
}


.coding {
    margin-top: 0;
    float: left;
    width: 15%;
    padding-right: 30px;


}

.camera {
    float: right;
    width: 15%;
    padding-left: 30px;
}

/* CONTACT ME BUTTON */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.CONTACT-BUTTON {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #1ED0A6);
    background-image: -moz-linear-gradient(top, #66BFBF, #1ED0A6);
    background-image: -ms-linear-gradient(top, #66BFBF, #1ED0A6);
    background-image: -o-linear-gradient(top, #66BFBF, #1ED0A6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 100;
    padding: 15px;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.CONTACT-BUTTON:hover {
    border: solid #66BFBF 1px;
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

hr {
    border: dotted 6px #EAF6F6;
    border-bottom: none;
    margin: 100px auto 100px auto;
    width: 4%;
}

.middle-container {
    padding-top: 100px;
}

.personal-photo {
    border-radius: 50%;
}

.accolade-row {
    margin:auto;
    width: 50%;
}
.accolade-row p{
    line-height: 2;
}

/* Credential Button */
.button-55 {
  align-self: center;
  background-color: lightcyan;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: 'Merrwiweather';
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.statement{
    max-width: 80%;
    margin: auto;
    text-align: center;
    line-height: 2;
}
.accolade-img{
    width: 15%;
}
.project-body{
    margin: auto;
    max-width: 80%;
    line-height: 2;
}

.craving-img-set{
    margin:auto;
    max-width: 80%;
    display: block;
}

.craving-img{
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 15%; 
}

.proficiency-table{
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    
}

.proficiency-table th{
    padding: 10px 25px;
}